body, html {
	margin: 0px;
	padding: 0px;
	font-family: helvetica;
	background: #f0f0f0;
}

a {
	text-decoration: none;
	color: #000;
}

header {
	width: 100%;
	height: 300px;
	background: #000;
	background-image: url('http://vagnerdutra.com/content/images/2016/01/4858486575_0047411d6e_z.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
}

header h1 {
	padding: 20px;
	margin: 0px;
	text-shadow: 1px 2px 0px #545454;
}

header h2 {
	padding: 20px;
	margin: 0px;
	text-shadow: 1px 2px 0px #545454;
}


header input {
	width: 80%;
	max-width: 400px;
    height: 30px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 0px;
}

.container {
	margin-top: -50px;
}

.cards {
    width: 90%;
    max-width: 800px;
    height: auto;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 6px rgba(128, 128, 128, 0.35);
    margin: 0 auto 20px auto;
    padding: 10px;
    color: #777;
}

.cards h3 {
	margin: 0px;
}

.cards .counts {
	margin-top: -15px;
	margin-right: 10px;
	display: inline-block;
	float: right;
}

.cards .language {
    border: 1px solid #21c259;
    padding: 1px 3px;
    border-radius: 3px;
    color: #21c259;
    margin-top: -18px;
}


.cards .profile {
	width: 100%;
	height: 40px;
	line-height: 30px;
	margin-top: 10px;
}

.cards .description {
	font-size: 14px;
    color: #aaa;
}

.cards .profile .image {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background-image: url('');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 100%;
	float: left;
}
